spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/simpleworkout
    username: james.contant
    password: 

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-sw6s7q1oda2gdtei.us.auth0.com/
          audiences: https://simpleworkoutAPI

server:
  port: 8084
  error:
  # not sure if this should be done like this
    include-stacktrace: never

logging:
  level:
    org:
      springframework:
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG

